@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&display=swap");
body {
  height: 70vh;
  background-color: #333746;
  color: #ebebec;
  font-family: "Archivo", sans-serif;
}

.landing-text {
  //   margin-left: %;
  margin-top: 7%;
  display: flex;
  justify-content: space-around;

  h1 {
    font-size: 8rem;
  }

  .social {
    display: flex;

    a {
      text-decoration: none;
      color: #ebebec;
      margin-right: 10px;
    }
  }
}
